:root {
  --background-body: #ffffff;
  --border-body: #087f5b;
  --text: #ffffff;
  --text-default: #000000;
  --border-shadow: rgba(0, 0, 0, 0.2);
}
.dark-mode {
  --background-body: #000000;
  --border-body: #07fbb2;
  --text: #000000;
  --text-default: #ffffff;
  --border-shadow: rgba(255, 255, 255, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: hsl(210, 10%, 23%);
  border-bottom: 10px solid var(--border-body);
  color: var(--text-default);
  background-color: var(--text);
}

nav {
  display: flex;
  background-color: var(--border-body);
  width: 100%;
  position: relative;
}

.toggle-container {
  position: absolute;
  top: 20px;
  right: 50px;
}

#btnEl {
  color: var(--text);
  font-size: 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 5%;
  width: 100%;
  padding: 25px;
}

nav ul li a {
  color: var(--text);
  text-decoration: none;
}

section,
.hero-section {
  margin-bottom: 96px;
}

.section-container {
  max-width: 960px;
  margin: 0 auto;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-top: 64px;
}

.hero-text-box {
  align-self: center;
}

.hero-heading-text {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
}

.hero-img-box {
  width: 100%;
  height: 100%;
}

.hero-img-box img {
  width: 100%;
  border-radius: 12px;
}

.btn:link,
.btn:visited {
  background-color: var(--border-body);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  border-radius: 100px;
}

.hero-btn {
  font-size: 18px;
  padding: 16px 32px;
}

.section-heading {
  font-size: 36px;
  margin-bottom: 48px;
  letter-spacing: -0.5px;
}

.feature--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.feature--box {
  box-shadow: 0 1px 5px 0 var(--border-shadow), 0 1px 4px 0 var(--border-shadow);
  padding: 15px 40px;
}

.feature-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.feature-text {
  font-size: 18px;
  line-height: 1.7;
}

.feature--box svg {
  stroke: var(--border-body);
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  gap: 80px;
  background-color: var(--border-body);
  padding: 1.4rem;
  border-radius: 12px;
  color: var(--text);
}

.testimonial-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.testimonial-img img {
  width: 100%;
}

.testimonial-box {
  color: var(--text);
  align-self: center;
}

.testimonial-title {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

/* .testimonial-autor {
  color: #c3fae8;
} */

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.grid-content {
  /* background-color: rgb(20, 20, 20); */
  box-shadow: 0 1px 5px 0 var(--border-shadow), 0 1px 4px 0 var(--border-shadow);
  border-radius: 12px;
  overflow: hidden;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
}

.grid-text h2 {
  margin-top: 20px;
  padding: 25px 10px;
  font-weight: bold;
  margin-left: 20px;
}

.grid-text ul li {
  display: flex;
  gap: 10px;
}

.grid-text ul li {
  text-decoration: none;
  list-style: none;
  font-size: 22px;
  padding: 10px;
  line-height: 1.5;
}

.grid-text ul li svg {
  margin-left: 18px;
  stroke: var(--border-body);
  width: 32px;
  height: 32px;
  /* margin-bottom: 24px; */
}

.hero-btnn {
  font-size: 16px;
  padding: 13px 15px;
}

.price-section {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

span {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  margin-right: 15px;
}

.copyright {
  margin-bottom: -70px;
}

.copyright p {
  text-align: center;
  font-size: 18px;
}
