body {
  background: linear-gradient(to right, #86eba8, #8eccf1);
  font-family: sans-serif;
}

#form {
  width: 360px;
  margin: 7vh auto 0 auto;
  padding: 30px;
  background-color: rgb(221, 239, 255);
  border-radius: 4px;
  font-size: 13px;
}

#form h1 {
  color: #0f2027;
  text-align: center;
}

#form button {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  color: white;
  background-color: rgb(38, 39, 40);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-control {
  display: flex;
  max-width: 94%;
  flex-direction: column;
}
.input-control label {
  margin-left: 4px;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 7px;
  display: block;
  font-size: 12px;
  padding: 13px;
  width: 100%;
  margin: 3px 0;
}
.select {
  border: 2px solid #f0f0f0;
  border-radius: 7px;
  display: block;
  font-size: 12px;
  padding: 13px;
  min-width: 365px;
  margin: 3px 0;
}
.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.password-container {
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  min-width: 355px;
  margin: 3px 0;
  padding-right: 10px;
  border: 2px solid #f0f0f0;
}

.password-container input {
  background-color: transparent;
  padding: 0 inherit;
  border: none;
}
