* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.content {
  padding: 30px;
  width: 500px;
  height: 500px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(237, 236, 236);
  margin-bottom: 10px;
}

ul li {
  margin-left: 10px;
  padding: 10px;
  list-style-type: none;
  border-bottom: 1px solid rgb(237, 236, 236);
}

li::before {
  content: "💬 ";
}
